@value colors "../../../assets/styles/theme.module.css";
@value accent, main-dark-mode from colors;

.operation {
    min-width: 122px;
    height: 40px;
    padding: 10px 16px;
    background-color: accent;
    color: main-dark-mode;
    border-radius: 8px;
    line-height: 20px;

    margin-right: 0.5em;
}

.operation, :global(.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only)) {
    padding: 10px 16px;
}
