@import "../../assets/fonts/fonts.module.css";

.coloredValue {
    width: 100px;
    border-radius: 8px;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    font-family: openSans_regular;
    line-height: 20px;
    font-size: 14px;
}
